# 1. Entorno Virtual de Python
venv/
/venv/

# 2. Caché de Python
__pycache__/
*.pyc

# 3. Archivos de Compilación de PyInstaller
/build/
/dist/
*.spec

# 4. Base de Datos (¡MUY IMPORTANTE!)
*.db
*.sqlite
*.sqlite3

# 5. Archivos de IDE
.vscode/
.idea/